<template>

    <div class="calculator-block">
        <div class="calculator-top-header">
            <button class="reload-screen pull-left" v-on:click="reload_screen()">Atšaukti</button>
            <div class="price-total pull-left hidden">
                <b>Viso:</b> 29.08
            </div>           
            <div class="calculator-number pull-right">{{ calculator_number }}</div>
        </div>

        <div class="calculator">
            <div class="calculator-wrapper">

                <div class="calculator-header">
                    <div class="calculator-left">
                        <div class="customer">
                            <div class="circle pull-left">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="customer-text pull-left">
                                Klientas
                            </div>
                        </div>
                    </div>
                    <div class="calculator-right">
                        <div class="discount-card">
                            <div class="discount-card-left">
                                <div class="text">Koretelė priimta</div>
                            </div>
                            <div class="discount-card-right">
                                <div class="color"></div>
                            </div>
                        </div>
                    </div>  
                </div>

                <div class="calculator-left">
                    <div class="payment">
                        <a class="" data-toggle="modal" href='#payment-modal-id' v-on:click="open_checkout()">
                            <i class="fa fa-chevron-circle-right"></i>
                            <div class="text">Mokėti</div>
                        </a>
                    </div>
                </div>

                <div class="calculator-right">
                    
                    <div class="buttons">
                        <div class="button btn" v-on:click="add_calculator_number(1)">1</div>
                        <div class="button btn" v-on:click="add_calculator_number(2)">2</div>
                        <div class="button btn" v-on:click="add_calculator_number(3)">3</div>
                        <div class="button btn" v-on:click="add_discount_percentage(5)">-5%</div>
                        <div class="button btn" v-on:click="add_calculator_number(4)">4</div>
                        <div class="button btn" v-on:click="add_calculator_number(5)">5</div>
                        <div class="button btn" v-on:click="add_calculator_number(6)">6</div>
                        <div class="button btn"  v-on:click="add_discount_percentage(10)">
                            -10%
                        </div>
                            
                        
                        <div class="button btn" v-on:click="add_calculator_number(7)">7</div>
                        <div class="button btn" v-on:click="add_calculator_number(8)">8</div>
                        <div class="button btn" v-on:click="add_calculator_number(9)">9</div>
                        <div class="button btn" v-on:click="">disc</div>
                        <div class="button btn" v-on:click="delete_calculator_number()">C</div>
                        <div class="button btn" v-on:click="add_calculator_number(0)">0</div>
                        <div class="button btn" v-on:click="add_calculator_number('.')">.</div>
                        <div class="button btn" v-on:click="add_discount_percentage_global()">-%</div>
                    </div>          
                </div> 

            </div> <!-- end calculator wrapper -->

        </div>

    </div>

</template>



<script>
    export default {

        mounted() {
            console.log('calucator component mounted')
        },
        data() {
            return {
                calculator_number: '',
            };
        },          
        //props: ['products'],
        methods: {
            add_calculator_number(nr) {
                //this.redirect_if_not_logged();
                console.log(nr);

                var temp_number = this.calculator_number;
                temp_number += nr;
                var validate = !isNaN(temp_number);
                //console.log(validate);

                if(validate)
                    this.calculator_number = temp_number;
            },
            delete_calculator_number(){
                //this.redirect_if_not_logged();
                this.calculator_number = this.calculator_number.slice(0, -1);
            },            
            reload_screen(){
                
                //this.redirect_if_not_logged();

                //this.empty_cart();
                //this.clear_search();
                //this.get_categories();
                //this.get_products();
                //this.get_cart_products();    
                //this.products_list = [];
                //this.clear_operation();
                this.calculator_number = "";
                //this.money_string = '0'
                //this.go_home();

                this.$emit('on_reload_screen');
            },  
            add_discount_percentage(num) {
                //this.redirect_if_not_logged();
                this.$emit('add_discount_percentage', num);
            },
            add_discount_percentage_global() {
                //this.redirect_if_not_logged();
                var percentage = this.calculator_number;
                this.$emit('add_discount_percentage', percentage);
            },   
            open_checkout(){
                //console.log('checkout');
                this.$emit('on_open_checkout');
            }          

        }
    }

</script>