<template>
	
	<div class="categories-block">
		<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" v-for="category in categories">
		    <div class="category-block" v-on:click="on_category_click(category)">
		        <div class="image">
		            <img class="image small-image" v-bind:src="storage_url + category.image" />                           
		        </div>

		        <div class="info">
		            <div class="title">{{category.title}}</div>
		        </div>
		    </div>
		</div>
	</div>

</template>



<script>
    export default {

        mounted() {
            console.log('category component mounted')
        },
        data() {
            return {
                storage_url: document.getElementById('storage-url').value,
            };
        },        
        props: ['categories'],
        methods: {
        	on_category_click(category){
        		this.$emit('on_category_click', category);
        	}
        }
    }

</script>