<template>

    <div class="products-list">
        <div class="products-list-table">

            <!--
    		<div class="product-on-list" :class="product.selected" v-for="product in products_list" :prod="product.id" v-on:click="selected_product(product)"> 
                <input type="hidden" name="prod" :value="product.id">

                <div class="pull-left minus-quantity"><-</div>
                <div class="title pull-left">{{ product.title }}</div>
    			<div class="count pull-left">{{ product.count }}</div>
    			<div class="price pull-left">{{ product.price }}</div>
                <div class="total pull-left">{{ product.total }}</div>
                <div class="pull-right plus-quantity">-></div>
    		</div>
            -->


            <table class="table table-hover">
                <tbody>
                    <tr class="product-on-list" :class="product.selected" v-for="product in products_list" :prod="product.id" v-on:click="selected_product(product)">
                        <td>
                            <div class="quantity-minus" v-on:click="quantity_plus(product.id, false)" v-if="product.count>1">
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="quantity-minus" v-on:click="product_delete(product.id)" v-if="product.count == 1">
                                <i class="fa fa-minus"></i>
                            </div>                        
                        </td>
                        <td class="title">{{ product.title }}</td>
                        <td>{{ product.count }}</td>
                        <td>
                            <div>{{ product_price(product) }}</div>
                            <div v-html="product_discount(product)">{{ product_discount(product) }}</div>
                        </td>
                        <td>{{ product_total(product) }}</td>
                        <td>
                            <div class="quantity-plus" v-on:click="quantity_plus(product.id)">
                                <i class="fa fa-plus"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>  



        </div>    


        <div class="price-total">
            <b>Viso:</b> {{ price_total }}
        </div>    
    </div>



</template>

<script>
    export default {

        mounted() {
            //console.log('Product-List Component mounted.')
        },
        props: ['products_list'],
        computed: {
            price_total(){
                
                var price_total = 0
                var comp_app = this;

                this.products_list.forEach(function(product){
                    var price = comp_app.product_price(product);
                    price_total += product.count * price;
                    //price_total += product.count * product.price;
                }); 

                return price_total.toFixed(2);

            }
        },
        methods: {
            selected_product(product){
                //alert('selected');

                this.products_list.forEach(function(product_in_list){
                    product_in_list.selected = '';
                    //product_in_list.selected = false;
                });

                product.selected = 'selected'; 
                //product_in_list.selected = true;
            },

            quantity_plus(product_id, plus=true){
                console.log('plus');

                this.products_list.forEach(function(product_in_list, index, object){
                    if(product_in_list.id == product_id){

                        console.log(object);

                        var temp_count = product_in_list.count;

                        if(plus)
                            product_in_list.count++;
                        else{
                            if(product_in_list.count > 1)
                                product_in_list.count--;
                            else{
                                //object.splice(index, 1);
                                //product_delete(product_id);
                            }
                        }

                        product_in_list.count_replace = false;

                        axios.post('save_to_cart', {
                            product: product_in_list,
                        }).then((res) => {

                            console.log(res);
                            if(res == 0) //neissaugojo - grazinam sena reiksme
                                product_in_list.count = temp_count;

                            //this.get_cart_products();
                            
                        })
                        .catch(error => {
                            //alert('Klaida, bandykite dar kartą');
                            console.log(error);

                            product_in_list.count = temp_count; //error - grazinam sena reiksme
                        });                          
                    }
                    //product_in_list.selected = false;
                });

            },
            product_delete(product_id){

                this.products_list.forEach(function(product_in_list, index, object){
                    if(product_in_list.id == product_id){
                        
                        object.splice(index, 1); //reiketu ideti i axios.post

                        axios.post('delete_product_from_cart', {
                            product: product_in_list,
                        }).then((res) => {

                            console.log(res.data);
                            if(res == 1){ //success
                                console.log('success');
                                
                            }
                        })
                        .catch(error => {
                            //alert('Klaida, bandykite dar kartą');
                            console.log(error);
                        }); 

                    }
                });
            },

            product_price(product){
                var price = product.price;

                if(product.price_discounted)
                    price = product.price_discounted;

                if(product.discount_percentage){
                    var discount = ( parseFloat(product.price) * parseFloat(product.discount_percentage) ) / 100;
                    var new_price = product.price - discount;
                    new_price = new_price.toFixed(2);
                    price = new_price;                    
                }

                return price;
            },

            product_total(product){
                var total = 0;
                var price = this.product_price(product);

                total = product.count * price;
                total = total.toFixed(2);

                return total;
            },

            product_discount(product){

                var old_price = product.price;
                var discount_info = '';

                if(product.price_discounted){
                    discount_info = '<div class="old-price">'+old_price+'</div>';
                }

                if(product.discount_percentage){
                    discount_info = '<div class="old-price">%'+product.discount_percentage+' - '+old_price+'</div>';
                }  
                return discount_info;              
            }
        }        
    }
</script>