<template>

    <div class="modal fade" id="payment-modal-id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-4">
                            <button type="button" data-dismiss="modal" aria-hidden="true">
                                Atgal
                            </button>
                        </div>  
                        <div class="col-xs-8">
                            <h2 class="modal-title">Apmokėjimas</h2>
                        </div>
                    </div>          
                </div>

                <div class="modal-body">
                    <div class="row">

                        <div class="payment-left col-sm-4">
                            <div class="row">
                                <div class="col-xs-6 col-sm-12">
                                    <button class="btn btn-default btn-payment" v-on:click="disable_card">GRYNAIS</button>
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <button class="btn btn-default btn-payment" v-on:click="enable_card">KORTELE</button>
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <button disabled class="btn btn-default btn-payment">Dovanų kuponas</button>
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <button disabled class="btn btn-default btn-payment">KREDITAS</button>
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <button disabled class="btn btn-default btn-payment">Klientas</button>
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <button disabled class="btn btn-default btn-payment">Sąskaita</button>
                                </div>
                                <div class="col-xs-6 col-sm-12">
                                    <button disabled class="btn btn-default btn-payment">Čekis el. paštu</button>
                                </div>
                            </div>
                        </div>


                        <div class="payment-right col-sm-8">
                            <div class="price-total">
                                Mokėtina suma: 
                                <span class="pull-right">{{ total_products_price }}</span>
                            </div>
                            <div class="price-change">
                                GRĄŽA: <span class="pull-right">{{ money_change }}</span>
                            </div>
                            <div class="price-change-after hidden">
                                GRĄŽA: <span class="pull-right">{{ money_change_after_payment }}</span>
                            </div>                            

                            

                            <div class="payment-row row">

                                <div class="col-sm-12 col-md-6">

                                    <div class="calculator-modal">
                                        <div v-if="card_enabled">
                                            <input disabled type="text" class="form-control" id="payment-card" v-bind:value="money_card">
                                        </div>
                                        <div v-else>
                                            <input disabled type="text" class="form-control" id="payment-cash" v-model="money_string">
                                        </div>

                                        <div v-if="card_enabled"></div>
                                        <div v-else>                                        
                                            <div class="buttons">
                                                <div class="button btn btn-default" v-on:click="enter_money2('1')">1</div>
                                                <div class="button btn btn-default" v-on:click="enter_money2('2')">2</div>
                                                <div class="button btn btn-default" v-on:click="enter_money2('3')">3</div>
                                                <div class="button btn btn-default" v-on:click="enter_money2('4')">4</div>
                                                <div class="button btn btn-default" v-on:click="enter_money2('5')">5</div>
                                                <div class="button btn btn-default" v-on:click="enter_money2('6')">6</div>
                                                <div class="button btn btn-default" v-on:click="enter_money2('7')">7</div>
                                                <div class="button btn btn-default" v-on:click="enter_money2('8')">8</div>
                                                <div class="button btn btn-default" v-on:click="enter_money2('9')">9</div>
                                                <div class="button btn btn-default" v-on:click="delete_money2()">C</div>
                                                <div class="button btn btn-default" v-on:click="enter_money2('0')">0</div>
                                                <div class="button btn btn-default" v-on:click="enter_money2('.')">,</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6">
                                    <div v-if="order_processing">
                                        <strong>Mokėjimas Vykdomas...</strong>
                                    </div>
                                    <div v-else>
                                        <div v-if="show_pay_button3">
                                            <div v-if="card_enabled">
                                                <button class="btn btn-success btn-pay" v-on:click="save_order_card()">Mokėti</button>
                                            </div>
                                            <div v-else>
                                                <button class="btn btn-success btn-pay" v-on:click="save_order_cash()">Mokėti</button>
                                            </div>
                                        </div>
                                        <div v-else>
                                            <button class="btn btn-success btn-pay" disabled>Mokėti</button>
                                        </div>    
                                    </div>                          
                                </div>  

                            </div>


                        </div>


                    </div> <!-- end row -->
                </div> <!-- end modal-body -->

            </div>
        </div>
    </div>

</template>



<script>
    export default {

        mounted() {
            console.log('calucator component mounted')
        },
        data() {
            return {
                card_enabled: false,
                money_string: '0',
                money_change_after_payment: '0',
            };
        },          
        props: ['total_products_price', 'order_processing'],
        computed: {
            money_change(){
                var money = parseFloat(this.money_string);
                var money_change = money - this.total_products_price;

                if(money_change > 0){
                    return money_change.toFixed(2);
                }
                return 0;
            },        
            money_card(){
                return this.total_products_price;
            },             
            show_pay_button3(){
                //naudojami sie parametrai:
                //this.money_string
                //this.total_products_price
                //this.money_card


                var money = parseFloat(this.money_string);
                var balance_cash = money - this.total_products_price;
                var balance_card = this.money_card - this.total_products_price;

                if(balance_cash >= 0 && this.total_products_price > 0){
                    console.log('cash true');
                    return true;
                }

                //console.log(this.card_enabled);
                if(this.card_enabled && balance_card == 0 && this.total_products_price > 0){
                    console.log('card true');
                    return true;            
                }

                return false;
            },             
        },
        methods: {    
            reset_checkout(){
                this.money_string = '0';
            },
            save_order_cash(){
                var order = {
                    //products: papildysim on_save_order,
                    order_title: 'testinis orderis',
                    cash: this.money_string,
                    card: 0,
                    money_change: this.money_change
                }

                this.money_change_after_payment = this.money_change;
                this.reset_checkout();
                console.log(order);

                this.$emit('on_save_order', order);
            },
            save_order_card(){
                var order = {
                    //products: papildysim on_save_order,
                    order_title: 'testinis orderis',
                    cash: 0,
                    card: this.money_card,
                    money_change: this.money_change
                }

                this.money_change_after_payment = 0;
                //this.disable_card(); 
                
                //console.log(order);
                this.$emit('on_save_order', order);
            },            
            enable_card(){
                this.card_enabled = true;
            },
            disable_card(){
                this.card_enabled = false;
            }, 
            enter_money2(num){

                var dot = '.';
                var exists_dot = this.money_string.includes(dot);
                var after_dot = this.money_string.split(".")[1];

                if(after_dot === undefined || after_dot.length < 2){ //2sk po kablelio

                    if(num === dot && exists_dot === true){
                        //antras kablelis
                    }
                    else{
                        //console.log(this.money_string);
                        if(this.money_string === '0' && num != dot)
                            this.money_string = num;
                        else{
                            this.money_string += num;
                        }                
                    }                
                }
            },
            delete_money2(){
                this.money_string = '0'; 
            }                       
        }
    }

</script>