.small-image{
    /*width: 100px;*/	
    height: 80px;
}

.big-image{
    max-width: 100%;
}

.categories-inline{
	display: inline-block;
    background: #3c8dbc;
    color: #fff;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
}

/*
.category-row.first{
    border-top: 3px solid #b1b1b1;
}
*/

.category-row .prefix{
    width: 20px;
    padding: 5px;
    margin-right: 5px;
    border-bottom: 3px solid #858788;
    float: left;    
}

.category{
	padding: 0px;
    list-style: none;
}

.category label{
    margin-bottom: 0px;
}

.category input[type=checkbox]{
	background: red;
}

.menu-block{   
    border-bottom: 1px solid #525252;    
}

.inventory-right-block{

}

.inventory-product-inserted{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 15px;    
}

.buttons-group{
    margin-top: 25px;    
}

.supplier-document-status{
    background: #e5867b;
    margin-top: 15px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;    
}

.supplier-document-status.finished{
    background: #56c190; 
}

#products_body{
    display: none;
}

#products_body.show{
    display: block;
}

.products-select2 .select2-container .select2-selection--single{
    height: 34px;
}

.products-select2 .select2-container{
    width: 100%!important;
}

.product-filters{
    border-bottom: 1px solid #616161;
    margin-bottom: 20px;
}

.product-filters select.form-control{
    text-align-last: center;
}

.shop-datatable{
    overflow-x: scroll;
}


.dataTables_wrapper .row:first-child .col-sm-6:first-child {
    float: right;
}

#data_table_length{
    float: right;
    padding-right: 18px;
}

.dataTables_wrapper .row:first-child .col-sm-6:last-child {
    float: left;
}

#data_table_filter{
    float: left;
    padding-left: 18px;
}

.deleted-product{
    color: red;
}

/*
.dataTables_wrapper .dataTables_filter {
float: right;
text-align: right;
}
*/

.user-panel{
    height: 70px;
}

.date-pickers{
    margin-bottom: 25px;
}

.status-updated{
    color: #04c104;
    font-weight: bold;
}

.inventory-activity-inputs{
    display: table;
    width: 100%;    
}

.shortage{
    color: red;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
 
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .shop-datatable{
        overflow-x: hidden;
    } 
}