<template>

    <div class="keyboard-block hidden">
        <div class="calculator">
            <div class="calculator-wrapper">

                <div class="calculator-header"></div>
                    
                <div class="buttons">
                    <div class="button btn" v-on:click="keyboard_click(1)">1</div>
                    <div class="button btn" v-on:click="keyboard_click(2)">2</div>
                    <div class="button btn" v-on:click="keyboard_click(3)">3</div>
                    <div class="button btn" v-on:click="keyboard_click(4)">4</div>
                    <div class="button btn" v-on:click="keyboard_click(5)">5</div>
                    <div class="button btn" v-on:click="keyboard_click(6)">6</div>
                    <div class="button btn" v-on:click="keyboard_click(7)">7</div>
                    <div class="button btn" v-on:click="keyboard_click(8)">8</div>
                    <div class="button btn" v-on:click="keyboard_click(9)">9</div>
                    <div class="button btn" v-on:click="keyboard_click(0)">0</div>

                    <div class="button btn" v-on:click="keyboard_click('a')">a</div>
                    <div class="button btn" v-on:click="keyboard_click('b')">b</div>
                    <div class="button btn" v-on:click="keyboard_click('c')">c</div>
                    <div class="button btn" v-on:click="keyboard_click('d')">d</div>
                    <div class="button btn" v-on:click="keyboard_click('e')">e</div>
                    <div class="button btn" v-on:click="keyboard_click('f')">f</div>
                    <div class="button btn" v-on:click="keyboard_click('g')">g</div>
                    <div class="button btn" v-on:click="keyboard_click('h')">h</div>
                    <div class="button btn" v-on:click="keyboard_click('i')">i</div>
                    <div class="button btn" v-on:click="keyboard_click('j')">j</div>

                    <div class="button btn" v-on:click="keyboard_click('k')">k</div>
                    <div class="button btn" v-on:click="keyboard_click('l')">l</div>
                    <div class="button btn" v-on:click="keyboard_click('m')">m</div>
                    <div class="button btn" v-on:click="keyboard_click('n')">n</div>
                    <div class="button btn" v-on:click="keyboard_click('o')">o</div>
                    <div class="button btn" v-on:click="keyboard_click('p')">p</div>
                    <div class="button btn" v-on:click="keyboard_click('r')">r</div>
                    <div class="button btn" v-on:click="keyboard_click('s')">s</div>
                    <div class="button btn" v-on:click="keyboard_click('t')">t</div>
                    <div class="button btn" v-on:click="keyboard_click('u')">u</div>

                    <div class="button btn" v-on:click="keyboard_click('v')">v</div>
                    <div class="button btn" v-on:click="keyboard_click('z')">z</div>
                    <div class="button btn btn-space" v-on:click="keyboard_click(' ')"> </div>
                    <div class="button btn" v-on:click="keyboard_click('.')">.</div>
                    <div class="button btn" v-on:click="keyboard_click('C')">C</div>
                </div>          

            </div> <!-- end calculator wrapper -->

        </div>
    </div>

</template>



<script>
    export default {

        mounted() {
            console.log('keyboard component mounted') 
        },
        props: [],
        data() {
            return {
                action_message: '',
            };
        },        
        //props: ['action_message2'],
        methods: {
            keyboard_click(char){
                console.log(char);
                this.$emit('keyboard_click', char);
            },
        }
    }

</script>


<style scoped>
    .keyboard-block .calculator .button{
        width: 10%;
    }

    .keyboard-block{
        background: #c3c1c1;
        /*border-top: 3px solid #0cb70c;*/   
    }

    .keyboard-block{
        width: 300px;
        height: 166px;
        position: absolute;
        z-index: 1;
    }

    .keyboard-block .calculator{
        padding: 3px;
    }
    .keyboard-block .calculator .button.btn-space{
        width: 60%;
        height: 39px;
    }
</style>