<template>
	
	<div class="shop-pos-block">

        <div class="message-box alert alert-success" v-if="action_message_active">{{ action_message }} </div>


        <div class="shop-pos-body row">

            <!-- KASOS APARATO OPERACIJOS -->
            <div class="col-sm-6 col-md-3 column-left">
                <div class="row">
            		<div class="col-sm-12">

                        <pos-actions-summary
                            v-bind:pos_insert_total="pos_insert_total"
                            v-bind:pos_withdraw_total="pos_withdraw_total"
                            v-bind:pos_refund_total="pos_refund_total"
                            v-bind:pos_cash_total="pos_cash_total"
                            v-bind:pos_card_total="pos_card_total"
                            v-bind:pos_orders_total="pos_orders_total"
                            v-bind:pos_money_total="pos_money_total"
                            v-bind:pos_money_in_pos="pos_money_in_pos"
                        ></pos-actions-summary>

            		</div>
                </div>
            </div>
            <!-- END KASOS APARATO OPERACIJOS -->

            
            <div class="col-sm-6 col-md-9 column-right">

                <!-- KASOS APARATO INPUTAI -->
                <div class="row pos-row-bottom pos-inputs-row">

                    <keyboard v-on:keyboard_click="on_keyboard_click"></keyboard>
                    <keyboard-number v-on:keyboard_click="on_keyboard_num_click"></keyboard-number>

                    <div class="col-sm-6 col-md-4 position-initial">
                        <div class="box">
                            <label class="pull-left full-width" for="money-insert">Pinigų inešimas:</label>       
                            <div class="form-group pull-left right-md">
                                <input type="text" class="form-control" id="money-insert" placeholder="Inešama suma" @click="activate_input($event)">
                            </div>
                            <button type="submit" class="btn btn-shop pull-left" @click="pos_action_money_insert()">Įnešti</button>
                        </div>

                        <div class="box">
                            <label class="pull-left full-width" for="money-withdraw">Pinigų įšėmimas:</label>           
                            <div class="form-group pull-left right-md">
                                <input type="text" class="form-control" id="money-withdraw" placeholder="Išimama suma" @click="activate_input($event)">
                            </div>
                            <button class="btn btn-shop pull-left" @click="pos_action_money_withdraw()">Įšimti</button> 
                        </div>           
                    </div> 

                    <div class="col-sm-6 col-md-4 position-initial">
                        <div class="box">
                            <label class="pull-left full-width" for="grazinimo-priezastis">Pinigų grąžinimas:</label>           
                            <div class="form-group pull-left full-width">
                                <input type="text" class="form-control" id="money-refund-info" placeholder="Grąžinimo priežastis" fullkeyboard="true" @click="activate_input($event)">
                            </div>
                 
                            <div class="form-group pull-left right-md">
                                <input type="text" class="form-control" id="money-refund" placeholder="Grąžinama suma" @click="activate_input($event)">
                            </div>
                            <button class="btn btn-shop pull-left" @click="pos_action_money_refund()">Grąžinti</button> 
                        </div>            
                    </div> 

                    <div class="col-sm-6 col-md-4">

                        <div class="box">
                            <label class="pull-left full-width" for="grazinimo-priezastis">Suminė ataskaita už laikotarpį:</label>           
                            <div class="form-group col-6 no-left-padding">
                                <input type="text" class="form-control readonly-date" id="summary-report-from" placeholder="Data nuo" readonly>
                            </div>

                            <div class="form-group col-6">
                                <input type="text" class="form-control readonly-date" id="summary-report-to" placeholder="Data iki" readonly>
                            </div>   

                            <button class="btn btn-shop pull-left" @click="pos_action_summary_report()">Spausdinti</button>             
                        </div>

                        <div class="box">
                            <label class="pull-left full-width" for="grazinimo-priezastis">Išsami ataskaita už laikotarpį:</label>           
                            <div class="form-group col-6 no-left-padding">
                                <input type="text" class="form-control readonly-date" id="detailed-report-from" placeholder="Data nuo" readonly>
                            </div>

                            <div class="form-group col-6">
                                <input type="text" class="form-control readonly-date" id="detailed-report-to" placeholder="Data Iki" readonly> 
                            </div>   

                            <button class="btn btn-shop pull-left" @click="pos_action_detailed_report()">Spausdinti</button>             
                        </div>                           

                    </div> 

                    <div class="col-sm-12">
                        <div class="box">
                            <button class="btn btn-shop pull-left" @click="pos_action_fcancel()">Panaikinti kvitą</button> 
                        </div>            
                    </div> 


                </div> <!-- end row -->
                <!-- END KASOS APARATO INPUTAI -->

            </div>
        </div> <!-- END pos-shop-body -->

        <div class="shop-pos-footer row">
            <div class="col-sm-12">
                <!-- REPORTS X Z -->
                <div class="row reports-x-z-row">
                    <div class="col-sm-6 padding-right-sm-1">
                        <!-- Report X -->
                        <div class="box">
                            <button class="btn btn-lg btn-shop btn-shop-report" @click="pos_action_reportX()">Tarpinė Ataskaita X</button>
                        </div>   
                    </div>

                    <div class="col-sm-6 padding-left-sm-1">
                        <!-- Report X -->
                        <div class="box">
                            <button class="btn btn-lg btn-shop btn-shop-report" @click="pos_action_reportZ()">Dienos Ataskaita Z</button>
                        </div> 
                    </div>
                </div>
                <!-- END REPORTS X Z -->
            </div>
        </div>

	</div>

</template>



<script>
    export default {

        mounted() {
            console.log('shop-pos component mounted');

            var app = this;
            this.$money_insert_input = $('#money-insert');
            this.$money_withdraw_input = $('#money-withdraw');
            this.$money_refund_input = $('#money-refund');
            this.$money_refund_info_input = $('#money-refund-info');
            this.$summary_report_from_input = $('#summary-report-from');
            this.$summary_report_to_input = $('#summary-report-to');
            this.$detailed_report_from_input = $('#detailed-report-from');
            this.$detailed_report_to_input = $('#detailed-report-to');

            this.$active_input = $('#money-insert'); //default
            this.$keyboard = $('.keyboard-block');
            this.$keyboard_num = $('.keyboard-num-block');

            /*
            //START SERVICES
            this.$PosActionsService.start(function(){
                app.action_message = app.$PosActionsService.message;
                app.action_message_active = true;
                setTimeout(function(){
                    app.action_message = '';
                    app.action_message_active = false;
                }, 5000);
            });
            */
            //------------------------------------------- 
        },
        props: [
            'pos_insert_total', 
            'pos_withdraw_total', 
            'pos_refund_total',
            'pos_cash_total', 
            'pos_card_total',
            'pos_orders_total',
            'pos_money_total',
            'pos_money_in_pos',
            'action_message',
            'action_message_active'
        ],
        data() {
            return {
                //action_message: '',
                //action_message_active: false,
                
                $active_input: false,
                $keyboard: false,
                $keyboard_num: false,

                $money_insert_input: false,
                $money_withdraw_input: false,
                $money_refund_input: false,
                $money_refund_info_input: false,
                $summary_report_from_input: false,
                $summary_report_to_input: false,
                $detailed_report_from_input: false,
                $detailed_report_to_input: false,
            };
        },
        methods: {

            clean_inputs(){
                this.$money_insert_input.val('');
                this.$money_withdraw_input.val('');
                this.$money_refund_input.val('');
                this.$money_refund_info_input.val('');
                this.$summary_report_from_input.val('');
                this.$summary_report_to_input.val('');
                this.$detailed_report_from_input.val('');
                this.$detailed_report_to_input.val('');
            },

            //--- keyboard
            on_keyboard_click(value){
                this.keyboard_click(value);
            },         
            //--- keyboard
            on_keyboard_num_click(value){
                this.keyboard_click(value);
            },
            keyboard_click(value){
                var old_value = this.$active_input.val();
                if(old_value == '0')
                    old_value = '';

                console.log(value);
                if(value == 'C'){
                    old_value = old_value.slice(0, -1);
                    this.$active_input.val(old_value);
                } 
                else{
                    this.$active_input.val(old_value + value);
                }
            },
            activate_input(event){
                var input = $('#'+event.target.id);
                var full_keyboard = input.attr('fullkeyboard');
                //console.log(full_keyboard);

                if(event.target.id === this.$active_input.attr('id')){
                    if(full_keyboard){
                        this.move_keyboard_to_input(event);
                        this.toggle_keyboard();
                    }
                    else{
                        this.move_num_keyboard_to_input(event);
                        this.toggle_num_keyboard();
                    }
                }
                else{
                    //console.log('show keyboard');
                    this.$active_input = input;
                    if(full_keyboard){
                        this.move_keyboard_to_input(event);
                        this.show_keyboard();
                    }
                    else{
                        this.move_num_keyboard_to_input(event);
                        this.show_num_keyboard();
                    }
                }
            },

            //---- letter keyboard funcs -----
            move_keyboard_to_input(event){
                var $input = $('#'+event.target.id);
                var position = $input.position();
                console.log(position);
                var height = $input.outerHeight();
                var width = $input.outerWidth();
                var top = position.top + height;
                var left = position.left - (300 - width);
                this.$keyboard.css('top', top);
                this.$keyboard.css('left', left);
            },

            toggle_keyboard(){
                if(this.$keyboard.hasClass('hidden'))
                    this.$keyboard.removeClass('hidden');
                else
                    this.$keyboard.addClass('hidden');
            },            

            show_keyboard(){
                this.$keyboard.removeClass('hidden');
            },
            //------            

            //---- num keyboard funcs -----
            move_num_keyboard_to_input(event){
                var $input = $('#'+event.target.id);
                var position = $input.position();
                var height = $input.outerHeight();
                var top = position.top + height;
                this.$keyboard_num.css('top', top);
                this.$keyboard_num.css('left', position.left);
            },

            toggle_num_keyboard(){
                if(this.$keyboard_num.hasClass('hidden'))
                    this.$keyboard_num.removeClass('hidden');
                else
                    this.$keyboard_num.addClass('hidden');
            },            

            show_num_keyboard(){
                this.$keyboard_num.removeClass('hidden');
            },
            //------

            get_report_value_json(date_from, date_to){
                var value_data = {
                    from : date_from,
                    to : date_to
                }
                return JSON.stringify(value_data);
            },

            //------------- API on click ------------------------------
            pos_action_money_insert(){
                var msg = 'Pinigų inešimo operacija VYKDOMA';
                //this.action_message_active = true;

                var data = {
                    action: 'MONEY_INSERT',
                    value: this.$money_insert_input.val() 
                }
                this.$emit('insert_pos_action_click', data, this.clean_inputs(), msg);
            },                    

            pos_action_money_withdraw(){
                var msg = 'Pinigų išėmimo operacija VYKDOMA';
                //this.action_message_active = true;

                var data = {
                    action: 'MONEY_WITHDRAW',
                    value: this.$money_withdraw_input.val() 
                }
                this.$emit('insert_pos_action_click', data, this.clean_inputs(), msg);
            }, 

            pos_action_money_refund(){
                var msg = 'Pinigų grąžinimo operacija VYKDOMA';
                //this.action_message_active = true;

                var data = {
                    action: 'MONEY_WITHDRAW',
                    value: this.$money_refund_input.val(),
                    message: this.$money_refund_info_input.val()
                }
                this.$emit('insert_pos_action_click', data, this.clean_inputs(), msg);
            },             

            pos_action_summary_report(){
                var msg = 'Suminė ataskaita už laikotarpį VYKDOMA';
                //this.action_message_active = true;
                var value = this.get_report_value_json( 
                                this.$summary_report_from_input.val(), 
                                this.$summary_report_to_input.val() 
                );

                var data = {
                    action: 'SUMMARY_REPORT',
                    value: value,
                }
                this.$emit('insert_pos_action_click', data, this.clean_inputs(), msg);
            }, 

            pos_action_detailed_report(){
                var msg = 'Išsami ataskaita už laikotarpį VYKDOMA';
                //this.action_message_active = true;
                var value = this.get_report_value_json( 
                                this.$detailed_report_from_input.val(), 
                                this.$detailed_report_to_input.val() 
                );

                var data = {
                    action: 'DETAILED_REPORT',
                    value: value,
                }
                this.$emit('insert_pos_action_click', data, this.clean_inputs(), msg);
            },   

            pos_action_reportX(){
                var msg = 'Ataskaita X VYKDOMA';
                //this.action_message_active = true;

                var data = {
                    action: 'REPORT_X',
                }
                this.$emit('insert_pos_action_click', data, this.clean_inputs(), msg);
            },   

            pos_action_reportY(){
                var msg = 'Ataskaita Y VYKDOMA';
                //this.action_message_active = true;

                var data = {
                    action: 'REPORT_Y',
                }
                this.$emit('insert_pos_action_click', data, this.clean_inputs(), msg);
            },    

            pos_action_fcancel(){
                var msg = 'Kvito panaikinimo operacija VYKDOMA';
                //this.action_message_active = true;

                var data = {
                    action: 'FCANCEL',
                }
                this.$emit('insert_pos_action_click', data, this.clean_inputs(), msg);
            }     
            //-------------------------------------------------------------

        }
    }

</script>
